*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    height: 500px;
    width: 600px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top:5%;
}