*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.vertical{
    height: 100vh;
    width: 100px;
    background-color: yellow;
    float: initial;
}
.vertical2{
    height: 500px;
    width: 600px;
    background-color: brown;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top:5%;
    float: inherit;
}