* {
    padding: 0px;
    margin: 0px;
}

#background {
    background-image: url("Images/background.png");
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
}

section {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#navbarItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-left: 1.2%;
    padding-right: 2%;
    border-radius: 10px;
    width: 70%;
    height: 70px;
    background-color: whitesmoke;
}

#span1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    font-size: 190%;
    color: teal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

.navBar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: -1px 0 wheat, 0 1px wheat, 1px 0 wheat, 0 -1px wheat;
    text-decoration: none;
    color: black;
    margin-left: 1.5vw;
    font-size: 18px;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navBar::after {
    content: '';
    width: 0;
    height: 3px;
    background-image: linear-gradient(wheat, black, wheat);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navBar:hover::after {
    width: 100%;
}

#avtar {
    width: 40px;
    height: 40px;
    margin-left: 1%;
}

#container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 80px;
}

#container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 74%;
    background-color: white;
    margin-top: 300px;
    height: 150px;
    padding: 50px;
    box-shadow: 0 -33px 43px rgb(0 40 85 / 4%), 0 17px 43px rgb(0 40 85 / 16%);
    border-radius: 10px;
}

.getInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selectItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#submit {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    padding-left: 50px;
    background-color: orangered;
    color: white;
    padding-right: 50px;
    border: none;
    border-radius: 40px;
}

.select,
#submit {
    height: 50px;
    width: 23.5vw;
}

#submit:hover {
    background-color: black;
}

i {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: start;
    margin-top: 10px;
    font-size: 15px;
    color: wheat;
}

.span1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid lightblue;
    background-color: rgba(255, 68, 0, 0.590);
    width: 168px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    animation: glowing 1300ms infinite;
    font-size: 15px;
}

@keyframes glowing {
    0% {
        background-color: rgba(255, 68, 0, 0.590);
        box-shadow: 0 0 5px rgba(255, 68, 0, 0.590);
    }
    50% {
        background-color: orangered;
        box-shadow: 0 0 30px orangered;
    }
    100% {
        background-color: rgba(255, 68, 0, 0.590);
        box-shadow: 0 0 5px rgba(255, 68, 0, 0.590);
    }
}

.span1:active {
    box-shadow: 0px 5px 10px black;
    transform: translateY(4px);
}

.span1 a {
    text-decoration: none;
    background: none;
    color: white;
}

.span3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 20px;
}

#about {
    width: 95%;
    height: 75vh;
    margin-left: 18px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

#about-content {
    height: 100%;
    margin-top: 40px;
    width: 40%;
}

#about-img {
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-image: url("Images/Bus1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fa-sharp {
    color: rgba(255, 68, 0, 0.834);
}

#more-about-us {
    cursor: pointer;
    margin-top: 20px;
    height: 50px;
    width: 180px;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(255, 68, 0, 0.834);
    color: white;
    border: none;
    border-radius: 40px;
    transition: 0.21s;
}

#more-about-us:hover {
    background-color: black;
    transform: scale(1) translateY(-10px);
    transition: 0.21s;
}

#footer {
    margin-top: 40px;
    padding-top: 120px;
    width: 100%;
    height: 50vh;
    background-color: black;
}

#footer-content {
    display: flex;
    justify-content: space-evenly;
}

#handlers {
    width: 20vw;
}

.fa-brands {
    margin-top: 30px;
    margin-right: 15px;
    color: rgba(255, 68, 0, 0.834);
    font-size: 3vw;
}

.a-tag {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.721);
    margin-left: 15px;
}

.a-tag:hover {
    color: white;
}

.fa-solid {
    color: orangered;
}

.contact-info {
    color: white;
    margin-left: 15px;
}

hr {
    border: none;
    height: 0.1px;
    background-color: rgb(106, 99, 99);
}